@model List<AfReparosAutomotivos.Models.Servicos>

@{
    ViewData["Title"] = "Lista de Serviços";
}

<div class=""><a asp-controller="Servicos" asp-action="Create" class="btn btn-primary fw-semibold">Novo Serviço</a></div> 
<br>
<table class="table table-striped">
    <thead>
        <tr class="table-primary">
            <th class="text-left fw-semibold" scope="col">@Html.DisplayNameFor(model => model.First().IdServico)</th>
            <th class="text-left fw-semibold" scope="col">@Html.DisplayNameFor(model => model.First().Descricao)</th>
            <th class="text-left fw-semibold" scope="col">@Html.DisplayNameFor(model => model.First().PrecoBase)</th>
            <th class="text-end fw-semibold" scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdServico)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PrecoBase)
                </td>
                <td class="d-flex align-middle justify-content-end gap-2">
                    <a asp-action="Details" asp-route-id="@item.IdServico" class="btn btn-sm" title="Ver">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.IdServico" class="btn btn-sm" title="Editar">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <form asp-action="Delete" asp-route-id="@item.IdServico" method="post" style="display:inline;">
                        <button type="button" class="btn btn-sm btn-danger"
                            onclick="confirmarExclusao('@item.IdServico', '/Servicos/Delete/@item.IdServico')">
                            <i class="fa fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="modalConfirmarExclusao" tabindex="-1" aria-labelledby="modalExclusaoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="modalExclusaoLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                Tem certeza que deseja excluir o orçamento <strong id="orcamentoIdTexto"></strong>?
            </div>

            <div class="modal-footer">
                <form id="formExcluirOrcamento" method="post">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmarExclusao(id, rota) {
        document.getElementById("orcamentoIdTexto").innerText = id;

        const form = document.getElementById("formExcluirOrcamento");
        form.action = rota; 

        const modal = new bootstrap.Modal(document.getElementById('modalConfirmarExclusao'));
        modal.show();
    }
</script>
